@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


:root {
    --lightBlue: #2a2a40;
    --mediumBlue: #1b1b32;
    --darkestBlue: #0a0a23;
    --lightGray: #d0d0d5;
    --text: #f5f6f7;
    --bttnBox: #feac32;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;

}

header {
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darkestBlue);
}

nav > a {
    text-decoration: none;
    color: var(--text);
}

main {
   display: flex;
   min-height: 80vh;
   background-color: var(--mediumBlue); 
   
}

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.carousel-item > img, .carousel > div{
    height: 442px;
    width: 750px;
}

.carousel-item > img {
    object-fit: cover;
}

.carousel-inner {
    width: 100%;
}

footer {
    display: flex;
    min-height: 10vh;
    background-color: var(--lightBlue);
    color: var(--text);
}